<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem name="EBS OCMA" id="ocma_root_menu" web_icon="ebs_ocma,static/src/img/icon.png"/>

    <menuitem name="DISCOs " id="ocma_discos_menu" parent="ocma_root_menu"
              sequence="3" />
        <menuitem name="DISCOs" id="ocma_disco_menu" parent="ocma_discos_menu"
              sequence="6" action="base.action_partner_customer_form"/>
        <menuitem name="DISCO Invoicing" id="disco_invoicing_menu" parent="ocma_discos_menu"
              sequence="7" action="account.action_invoice_tree1"/>
    <menuitem name="Billing Circles " id="ocma_circles_menu" parent="ocma_root_menu"
              sequence="2" />
        <menuitem name="Billing Circle" id="circle_billing_menu" parent="ocma_circles_menu" sequence="1" action="action_billing_circle"/>


    <menuitem name="GENCOs " id="ocma_gencos_menu" parent="ocma_root_menu" sequence="4" />
    <menuitem name="GENCOs" id="ocma_genco_menu" parent="ocma_gencos_menu" sequence="1" action="action_genco_customer_form"/>

    </data>
</odoo>